:root {
  --white: #ffffff;
  --react: #61DBFB;
  --preact: #673AB8;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.6rem;
  background-color: #242424;
}
a {
  text-decoration: none;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.5rem;
  height: 100vh;
}
@keyframes rotateInfinite {
  to {
    transform: rotate(360deg);
  }
}
.container {
  animation: rotateInfinite 60s infinite linear;
  min-height: 38rem;
}
.react-logo {
  border-radius: 50%;
  width: 12.5rem;
  height: 36rem;
  outline: 12px solid var(--react);
  transform: rotate(90deg);
}

.react-logo::before, 
.react-logo::after,
.preact-logo::before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  outline: inherit;
}
.react-logo::before {
  transform: rotate(120deg);
}
.react-logo::after {
  transform: rotate(240deg);
}
.react-circle {
  width: 7rem;
  height: 7rem;
  background-color: var(--react);
}
.logo-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.preact-logo {
  position: relative;
  border-radius: 50%;
  width: 10rem;
  height: 30rem;
  outline: 12px solid var(--white);
  transform: rotate(125deg);
}
.preact-logo::before {
  transform: rotate(-70deg);
}
.preact-circle {
  width: 5rem;
  height: 5rem;
  background-color: var(--white);
}
.menu {
  display: flex;
  gap: 2rem;
}
.menu__link {
  background-color: #1A1A1A;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 1.7rem;
  color: var(--white);
}
.hexagon {
  display: grid;
  place-content: center;
  position: relative;
  z-index: 1;
  width: 42rem;
  height: 38rem;
  background-color: var(--preact);
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}