:root {
  --white: #ffffff;
  --react: #61DBFB;
  --preact: #673AB8;
  --js: #F7E018;
  --ts: #007ACC;
}

html {
  font-size: 62.5%;
}
body {
  margin: 0;
  overflow: hidden;
  font-size: 1.6rem;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #242424;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a {
  text-decoration: none;
}
#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}
@keyframes rotateInfinite {
  to {
    transform: rotate(360deg);
  }
}
@keyframes jsToTypescript {
  0% {
    transform: rotateY(-20deg);
    background-color: var(--js);
  }
  50% {
    transform: rotateY(20deg);
    background-color: var(--js);
  }
  100% {
    transform: rotateY(0);
    background-color: var(--ts);
  }
}
@keyframes tsToJavascript {
  0% {
    transform: rotateY(-20deg);
    background-color: var(--ts);
  }
  50% {
    transform: rotateY(20deg);
    background-color: var(--ts);
  }
  100% {
    transform: rotateY(0);
    background-color: var(--js);
  }
}
.container {
  animation: rotateInfinite 60s infinite linear;
}
.react-logo {
  border-radius: 50%;
  width: 7.25rem;
  height: 20rem;
  outline: 9px solid var(--react);
  transform: rotate(90deg);
}
.react-logo::before, 
.react-logo::after,
.preact-logo::before {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  outline: inherit;
}
.react-logo::before {
  transform: rotate(120deg);
}
.react-logo::after {
  transform: rotate(240deg);
}
.react-circle {
  width: 3.6rem;
  height: 3.6rem;
  background-color: var(--react);
}
@media screen and (min-width: 540px) {
  .react-logo {
    width: 12.5rem;
    height: 38rem;
    outline: 14px solid var(--react);
  }
  .react-circle {
    width: 7rem;
    height: 7rem;
  }
}
.logo-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.hexagon {
  display: grid;
  place-content: center;
  position: relative;
  z-index: 1;
  width: 22rem;
  height: 20rem;
  background-color: var(--preact);
  clip-path: polygon(50% 0%, 90% 25%, 90% 75%, 50% 100%, 10% 75%, 10% 25%);
}
.preact-logo {
  position: relative;
  border-radius: 50%;
  width: 5rem;
  height: 15rem;
  outline: 6px solid var(--white);
  transform: rotate(125deg);
}
.preact-circle {
  width: 2.5rem;
  height: 2.5rem;
  background-color: var(--white);
}
@media screen and (min-width: 600px) {
  .hexagon {
    width: 42rem;
    height: 38rem;
  }
  .preact-logo {
    width: 10rem;
    height: 30rem;
    outline: 12px solid var(--white);
  }
  .preact-circle {
    width: 5rem;
    height: 5rem;
  }
}
.preact-logo::before { transform: rotate(-70deg);}
.js, .ts {
  position: relative;
  width: 20rem;
  height: 20rem;
}
.js { background-color: var(--js); }
.ts {
  animation: jsToTypescript .6s ease forwards;
}
.js-text, .ts-text {
  font-size: 12.5rem;
  font-weight: 700;
  position: absolute;
  right: 1rem;
  bottom: -1.6rem;
}
.ts-text {
  color: var(--white);
}
.toJS {
  animation: tsToJavascript .6s ease forwards;
}
@media screen and (min-width: 540px) {
  .js, .ts {
    width: 38rem;
    height: 38rem;
  }
  .js-text, .ts-text {
    font-size: 25rem;
    right: 2rem;
    bottom: -3.2rem;
  }
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.menu__link {
  background-color: #1A1A1A;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  font-size: 1.7rem;
  color: var(--white);
}